/**
 * Jira Config
 */

.jira-config-columns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  width: 40%;

  li {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

/**
 * Jira Board Config
 */
.board-config {
  background-color: light-dark(#f5f5f5, #333);
  border-radius: 5px;
  padding: 1rem;

  .columns {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    min-width: 40%;
    padding: 0 1rem;
    width: fit-content;

    li {
      border-bottom: #666 1px solid;
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      padding-bottom: 0.5rem;
    }

    li:last-child {
      border-bottom: none;
    }
  }
}

.main:has(> .tabs > .tab.selected:first-child) .board-config {
  border-top-left-radius: 0;
}
