/**
 * Project Styles
 */

 .task {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.25rem;
	margin: 0.5rem;
	border: 1px solid light-dark(#eaeaea, #666);
	border-radius: 10px;
	transition: all 0.3s;
	cursor: pointer;
}

.task-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	list-style-type: none;
}

/**
 * Jira Project Styles
 */

 .jira-current-sprint {
	display: grid;
	list-style: none;
	padding: 0;
	overflow: scroll;
	gap: 0.5rem;
}

.jira-current-sprint>li {
	background-color: light-dark(#f5f5f5, #333);
	border-radius: 10px;
	max-height: 80vh;
	overflow: scroll;
}

.jira-current-sprint h4 {
	padding: 0 0.5rem;
}

.jira-current-sprint-column {
	padding: 0;
}

.jira-current-sprint-column li.task {
	background-color: light-dark(#fff, #121212);
	border-color: light-dark(#eaeaea, #666);
	align-items: normal;
	padding: 0.75rem;
	overflow-wrap: anywhere;
}

.jira-current-sprint-column li.task .jira-ticket-key {
	font-size: 0.75rem;
	background: #333;
	color: #fff;
	width: max-content;
	padding: 0.25rem 0.5rem;
	border-radius: 999px;
	margin-bottom: 0.25rem;
}

.jira-current-sprint-column li.task .jira-ticket-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 0.25rem;
}

.jira-current-sprint-column li.task .jira-ticket-assignee {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.jira-current-sprint-column li.task .jira-ticket-assignee img {
	width: 2rem;
	border-radius: 999px;
}

.jira-current-sprint-column li.task .jira-priority-1 {
	width: fit-content;
	transform: rotate(90deg);
	align-self: end;
	font-size: 1.5rem;
	color: #dc143c;
}

.jira-current-sprint-column li.task .jira-priority-2 {
	width: fit-content;
	transform: rotate(90deg);
	align-self: end;
	font-size: 1.5rem;
	color: #e15a75;
}

.jira-current-sprint-column li.task .jira-priority-3 {
	width: fit-content;
	transform: rotate(90deg);
	align-self: end;
	font-size: 1.5rem;
	color: #f5b236;
}

.jira-current-sprint-column li.task .jira-priority-4 {
	width: fit-content;
	transform: rotate(90deg);
	align-self: end;
	font-size: 1.5rem;
	color: #6d9bd2;
}

.jira-current-sprint-column li.task .jira-priority-5 {
	width: fit-content;
	transform: rotate(90deg);
	align-self: end;
	font-size: 1.5rem;
	color: #106cdc;
}

.jira-current-sprint-header {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.jira-current-sprint-header h3 {
	margin: 0;
}

.jira-current-sprint-header .jira-current-sprint-refresh-btn {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	font-size: 1.5rem;
	rotate: 45deg;
}

.jira-current-sprint-assignee {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
