/**
 * View styles
 */
@import './views/settings.css';
@import './views/jira-profile.css';
@import './views/jira-config.css';
@import './views/projects.css';
@import './views/project.css';
@import './views/no-auth.css';

/**
 * Component styles
 */
@import './components/notifications.css';
@import './components/buttons.css';
@import './components/spinner.css';

/**
 * Global styles
 */
:root {
	color-scheme: light dark;
}

body {
	margin: 0 5rem;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	position: relative;
}

.heading {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	justify-content: space-between;
}

.heading button {
	font-size: 1.5rem;
	width: 3rem;
	height: 3rem;
	border-radius: 1.5rem;
	background: none;
	border: light-dark(#000, #fff) 3px solid;
	cursor: pointer;
}
